*{
 box-sizing: border-box;
 padding:0;
 margin: 0;
}
.pattern {
width: 100vw;
height: 30vh;
background-image: url(../img/pattern.png);
background-repeat: repeat;
padding-left: 350px;
padding-top: 150px;
}
.pattern > img {
width: 200px;
}
h1{
font-size:  40px;
}
 section{
padding-left: 350px;
 }
.first{
width: 100%;
}
a {
text-decoration: none;
color:rgb(47, 106, 224);
}
.tim-one{
    margin-top: 20px;
}
.lorem{
    margin-top: 25px;
    font-size: 20px;
    
}